
<section class="contact container mx-auto py-20 text-center" id="contactSection">
    <h2 class="text-3xl md:text-4xl font-bold text-blue-800 mb-4">Soporte para Usuarios</h2>
    <p class="text-lg text-white  mb-6">¿Tienes preguntas? ¿Algo salió mal? ¡Estamos aquí para ayudarte!</p>
    <form class="flex flex-col items-center">
        <input type="email" placeholder="Correo Electrónico" required class="w-full md:w-1/2 px-4 py-2 mb-4 border border-blue-300 rounded-lg focus:outline-none focus:border-blue-500 shadow-sm">
        <textarea placeholder="Escribe tu mensaje aquí" required class="w-full md:w-1/2 px-4 py-2 mb-4 border border-blue-300 rounded-lg focus:outline-none focus:border-blue-500 shadow-sm h-32 resize-none"></textarea>
        <button type="submit" class="px-10 py-4 bg-blue-800 hover:bg-blue-700 text-white rounded-full font-semibold uppercase text-lg transition duration-300">Enviar</button>
    </form>
  </section>